.container {
  /* TODO */
  width: 1000px;
  margin: 0 auto;
}
.container h2{
  text-align: center;
  margin-bottom: 0;
  font-size: 28px;
}
.flex-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.flex-card{
  text-align: center;

  padding: 50px 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 200px;
}

.flex-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
